<link rel="icon" href="~/Images/Millennium.ico" type="image/x-icon" />
<title>GESTOR DE CAMPANHAS COMERCIAIS</title>
<link href="~/Content/css/material-icons.css" rel="stylesheet" type="text/css" />
<link href="~/Content/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="~/Content/plugins/node-waves/waves.css" rel="stylesheet" type="text/css" />
<link href="~/Content/plugins/animate-css/animate.css" rel="stylesheet" type="text/css" />
<link href="~/Content/plugins/material-design-preloader/md-preloader.css" rel="stylesheet" type="text/css" />
<link href="~/Content/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet" />
<link href="~/Content/plugins/waitme/waitMe.css" rel="stylesheet" type="text/css" />
<link href="~/Content/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
<!-- Latest compiled and minified CSS -->
<link href="~/Content/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" type="text/css" />
<link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />
<link href="~/Content/css/themes/theme-pink.css" rel="stylesheet" type="text/css" />
@*<link href="~/Content/css/themes/all-themes.css" rel="stylesheet" type="text/css"/>*@
@*<link href="~/Content/sweetalert2.min.css" rel="stylesheet" />*@
<script src="~/Content/plugins/jquery/jquery.min.js" type="text/javascript"></script>
<script src="~/Content/plugins/bootstrap/js/bootstrap.js" type="text/javascript"></script>
<script src="~/Scripts/toastr.min.js"></script>
<link href="~/Content/toastr.min.css" rel="stylesheet" />
<script src="~/Content/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="~/Content/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>

<script src="~/Scripts/js/pages/tables/jquery-datatable.js"></script>



@*<script src="~/Scripts/sweetalert2.all.min.js"></script>
    <script src="~/Scripts/core.js"></script>*@
<script type="text/javascript">
        $(document).ready(function () {
            $('.selectpicker').selectpicker('refresh');
        });
</script>
<style  type="text/css">
    .titulos{
        color:black ;
        font: bold 
           
    }
    /*.Pager span {
            text-align: center;
            color: #333;
            display: inline-block;
            width: 20px;
            background-color: #B8DBFD;
            margin-right: 3px;
            line-height: 150%;
            border: 1px solid #B8DBFD;
        }

.Pager a {
    text-align: center;
    display: inline-block;
    width: 20px;
    background-color: #ccc;
    color: #333;
    border: 1px solid #ccc;
    margin-right: 3px;
    line-height: 150%;
    text-decoration: none;
}*/
</style>
